<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro e Inicio de Sesión</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles_register_login.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/icono_VT.ico') }}"
    />
  </head>
  <body>
    <h1>Bienvenido a VisionTech Solutions</h1>

    <!-- Contenedor principal para los dos formularios -->
    <div class="container">
      <!-- Columna para el formulario de inicio de sesión -->
      <div class="column" id="loginFormContainer">
        <h2>Inicio de Sesión</h2>
        <form
          id="loginForm"
          action="/login"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="usuario">Usuario:</label>
          <input type="text" id="usuario" name="usuario" required /><br />

          <label for="contrasenaLogin">Contraseña:</label>
          <input
            type="password"
            id="contrasenaLogin"
            name="contrasena"
            required
          /><br />

          <!-- Botón para activar la cámara -->
          <button type="button" id="activarCamaraLoginButton">Activar Cámara</button>

          <!-- Video para la cámara de inicio de sesión -->
          <video id="videoLogin" width="320" height="240" autoplay style="display: none;"></video><br />

          <!-- Imagen capturada para el inicio de sesión -->
          <canvas id="canvasLogin" style="display: none;"></canvas>
          <input type="hidden" id="imagenLogin" name="imagen" />

          <!-- Botón de inicio de sesión -->
          <button type="button" id="loginButton">
            <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
          </button>
        </form>

        <!-- Botón para cambiar al formulario de registro -->
        <button type="button" id="showRegisterButton">Registrar</button>
      </div>

      <!-- Columna para el formulario de registro -->
      <div class="column" id="registerFormContainer" style="display: none">
        <h2>Registrar Usuarios</h2>
        <form
          id="registerForm"
          action="/registro"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required /><br />

          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" name="apellido" required /><br />

          <label for="contrasena">Contraseña:</label>
          <input
            type="password"
            id="contrasena"
            name="contrasena"
            required
          /><br />

          <!-- Botón para activar la cámara -->
          <button type="button" id="activarCamaraRegisterButton">Activar Cámara</button>

          <!-- Video para la cámara de registro -->
          <video id="videoRegister" width="320" height="240" autoplay style="display: none;"></video><br />

          <!-- Imagen capturada para el registro -->
          <canvas id="canvasRegister" style="display: none;"></canvas>
          <input type="hidden" id="imagenRegister" name="imagen" />

          <!-- Botón de registro -->
          <button type="button" id="registerButton">
            <i class="fas fa-user-plus"></i> Registrar y Capturar Rostro
          </button>
        </form>

        <!-- Botón para cambiar al formulario de inicio de sesión -->
        <button type="button" id="showLoginButton">Iniciar Sesión</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/toggle_forms.js') }}"></script>
    <script src="{{ url_for('static', filename='js/activarCamara.js') }}"></script>
  </body>
  <footer
    style="
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 10px;
      background-color: #007bff;
      color: white;
      margin: 0;
    "
  >
    <p>© 2024 VisionTech Solutions. Todos los derechos reservados - Lima Peru.</p>
  </footer>
</html>
